<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Dusan Stankovic on 1/10/17 11:41 AM
  ~ Copyright (c) 2017. All rights reserved.
  ~
  ~ Last modified 1/10/17 11:41 AM
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.detrraxic.android.androidjokes">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".AndroidJokesActivity"
            android:parentActivityName="com.udacity.gradle.builditbigger.MainActivity">
        </activity>
    </application>

</manifest>